import(flowCore)

## export("parallelCoordinates.rgl", "parallelCoord")


importFrom(graphics,
           "lines",
           "polygon",
           "points",
           "contour")

importFrom(lattice,
           densityplot,
           xyplot,
           levelplot,
           qqmath,
           splom,
           parallel)

importFrom(grid,
           "get.gpar",
           "grid.polygon",
           "grid.rect",
           "grid.points")

importFrom(latticeExtra,
           "ecdfplot")

importFrom(geneplotter,
           "smoothScatter",
           "densCols",
           "panel.smoothScatter")

importFrom(MASS,
           "kde2d")

exportMethods("densityplot",
              "xyplot",
              "levelplot",
              "qqmath",
              "plot",
              "splom",
              "parallel",
              "ecdfplot",
              "glines",
              "gpolygon",
              "gpoints",
              "glpoints",
              "glpolygon",
              "flowPlot",
              "timeLinePlot",
              "contour")

## prepanel and panel functions
export("panel.densityplot.flowset",
       "prepanel.densityplot.flowset", 
       "panel.ecdfplot.flowset",
       "prepanel.ecdfplot.flowset",
       "prepanel.xyplot.flowset",
       "panel.xyplot.flowset",
       "timeLinePlot",
       "contour")



