import("flowCore")

export("densityPlot", 
       "parallelCoordinates.rgl", "parallelCoord")
       
importFrom("lattice", densityplot, xyplot, levelplot, qqmath)
importFrom("MASS", kde2d)
importFrom("KernSmooth",bkde2D)

exportMethods("densityplot", "xyplot", "levelplot", "qqmath")
exportMethods("flowPlot","contour")
